/*Elements*/
body{
    background-color: rgb(224, 224, 224);
}

#rootContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.fpContainer{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Titillium Web', sans-serif;
    width: 60%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

.sidebarContainer{
    width: 20%;
}

/*Text*/
.pageTitle{
    font-size: 60px;
}

/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');