/*ELEMENTS*/

/*Containers*/
#rootManageCont{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.manageContainer{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Titillium Web', sans-serif;
    width: 40em;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    overflow: hidden;
}
.sidebarContainer{
    width: 20%;
}

#formBtnCont{
    display: flex;
    flex-direction: row;
}

/*Form*/
#manageForm{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;

}

.formInput{
    font-family: 'Titillium Web', sans-serif;
    margin: 1.5%;
    transition: 0.2s;
    border-color: rgb(105, 105, 105);
    border-width: 0.005em;
    border-style: solid;
    height: 2em;
    width: 20em;
    font-size: 1.2em;
}
.formInput:hover{
    box-shadow: 0px 0px 32px -12px rgba(0,0,0,0.75);
}
.formInput:focus{
    outline:0;
}

.formButton{
    font-family: 'Titillium Web', sans-serif;
    font-size: 1em;
    background-color: rgb(150, 150, 150);
    color: white;
    border-color: rgb(121, 121, 121);
    border-width: 0.08em;
    border-radius: 3px;
    border-style: solid;
    height:2.4em;
    width: 9em;
    margin: 5% 2% 5% 2%;

    transition: 0.2s;
}
.formButton:hover{
    background-color: white;
    color: black;
}

/*TEXT*/

/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');