/*Elements*/

/*Text*/
.sbContainer{
    margin: 10% 3% 0% 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: 'Titillium Web', sans-serif;
    flex-wrap: wrap;
    background-color:rgb(224, 224, 224);
    border-color: rgb(196, 196, 196);
    border-width: 0.04em;
    border-style: solid;
    border-radius: 3px;
}

.searchInput{
    font-family: 'Titillium Web', sans-serif;
    margin: 1.5%;
    transition: 0.2s;
    border-color: rgb(105, 105, 105);
    border-width: 0.005em;
    border-style: solid;
    height: 2em;
    width: 11.5em;
    font-size: 1.2em;
    text-align: center;
}
.searchInput:hover{
    box-shadow: 0px 0px 32px -12px rgba(0,0,0,0.75);
}
.searchInput:focus{
    outline:0;
}

/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');